[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest.git
[submodule "modules/raylib"]
	path = modules/raylib
	url = git@github.com:raysan5/raylib.git
